h1 {
    padding-top: 50px;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 2%;
}
.btn-primary {
    display: block;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    cursor: pointer;
    margin-top: 2%;
}

#homepage {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    background-color: lightblue;
}

body {
    background-color: lightblue;
}

.question {
    background-color: lightblue;
    height: 45%;
    width: 75%;
    align-content: center;
    margin: auto;
    margin-top: 2%;
}
.question-text {
    font-size: 25px;
}
.row { 
    padding: 2px;
}
text {
    font-size: 20px;
}

/*Extra small devices (smartphones, <600px)*/  

@media only screen and (max-width: 600px) {…}  


/*Small devices (large smartphones and portrait tablets >= 600px)*/  

@media only screen and (min-width: 600px) {…}  


/*Medium devices (landscape tablets >= 768px)*/  

@media only screen and (min-width: 768px) {…}  


/*Large devices (laptops and desktops, >=600px)*/  

@media only screen and (min-width: 992px) {…} 


/*Extra Large devices (laptops and desktops <600px)*/  

@media only screen and (min-width: 1200px) {…}